{% load static %}
<div class="category-card">
    <h1>Category</h1>
    <div class="category-list">
      <div class="category-details">
        <img src=' {% static "assets/vegetables.webp" %} ' alt="">
        <a href="#"> Milk and dairy </a>
        <small>12</small>
      </div>
      <div class="category-details">
        <img src=' {% static "assets/vegetables.webp" %} ' alt="">
        <a href="#"> Milk and dairy </a>
        <small>12</small>
      </div>
      <div class="category-details">
        <img src=' {% static "assets/vegetables.webp" %} ' alt="">
        <a href="#"> Milk and dairy </a>
        <small>12</small>
      </div>
      <div class="category-details">
        <img src=' {% static "assets/vegetables.webp" %} ' alt="">
        <a href="#"> Milk and dairy </a>
        <small>12</small>
      </div>
      <div class="category-details">
        <img src=' {% static "assets/vegetables.webp" %} ' alt="">
        <a href="#"> Milk and dairy </a>
        <small>12</small>
      </div>
    </div>
  </div>