<div class="category-card">
    <h1>Category</h1>
    <div class="category-list">
      <div class="category-details">
        <img src="../../../static/assets/dumpling.jpg" alt="">
        <a href="#"> Milk and dairy </a>
      </div>
      <div class="category-details">
        <img src="../../../static/assets/dumpling.jpg" alt="">
        <a href="#"> Milk and dairy </a>
      </div>
      <div class="category-details">
        <img src="../../../static/assets/dumpling.jpg" alt="">
        <a href="#"> Milk and dairy </a>
      </div>
      <div class="category-details">
        <img src="../../../static/assets/dumpling.jpg" alt="">
        <a href="#"> Milk and dairy </a>
      </div>
      <div class="category-details">
        <img src="../../../static/assets/dumpling.jpg" alt="">
        <a href="#"> Milk and dairy </a>
      </div>
    </div>
  </div>