{% load static %}
<div class="new-product-card">
  <h1>New Products</h1>
  <div class="new-product-list">

    <div class="new-product-details">
      <img src=' {% static "assets/vegetables.webp" %} ' alt="" />
      <div class="detail">
        <a href="#"> Milk and dairy </a>
        <p>Rs 200</p>
      </div>
    </div>


    <div class="new-product-details">
      <img src=' {% static "assets/vegetables.webp" %} ' alt="" />
      <div class="detail">
        <a href="#"> Milk and dairy </a>
        <p>Rs 200</p>
      </div>
    </div>

    <div class="new-product-details">
      <img src=' {% static "assets/vegetables.webp" %} ' alt="" />
      <div class="detail">
        <a href="#"> Milk and dairy </a>
        <p>Rs 200</p>
      </div>
    </div>

    <div class="new-product-details">
      <img src=' {% static "assets/vegetables.webp" %} ' alt="" />
      <div class="detail">
        <a href="#"> Milk and dairy </a>
        <p>Rs 200</p>
      </div>
    </div>
    
  </div>
</div>
