{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    {% block head %}{% endblock head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link rel="icon" href="{% static 'assets/logo.png' %}" sizes="128x128" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
<body>
  <div class="page-wrapper">
    {% include "navbar.html" %}
    {% block body %} 
    
    {% endblock body %}
    {% include "footer.html" %} 

  </div>
  {% if messages %}
  <script>
    {% for message in messages %}
    Swal.fire({
      icon: "{{ message.tags }}",
      title: "{{ message }}",
      showConfirmButton: true,
      timer: 3000,
    });
    {% endfor %}
  </script>
  {% endif %}
</body>
    <script src=" {% static "js/script.js" %} " ></script>
    <script src=" {% static "js/validation.js" %} " ></script>
</html>
