{% load static %}

<div class="top-bar">
  <div class="container">
    <div class="top-links">
      <a href=" {% url "about" %} ">About Us</a>
     {% if request.user.is_authenticated %}
      <a href="{% url 'profile' request.user.id %}">My Account</a>
    {% endif %}

      <a href="{% url "wishlist" %}">Wishlist</a>
      <a href="{% url "view_order" %}">Order Tracking</a>
    </div>
    <div class="middle">
      <span class="deals">Super Value Deals - Save more with coupons</span>
    </div>
    <div class="top-right">
      <span>Need help? Call Us: 056-56000</span>
      </div>
    </div>
  </div>
</div>

<header class="main-header">
  <div class="container">
    <div class="header-content">
      <a href=" {% url 'index' %} " class="logo"> <img src=" {% static 'assets/logo.png' %} " alt="FastCart"> </a>

   <form action="{% url 'search_product' %}" method="get" class="search-bar">
      <input type="search" name="q" placeholder="Search for items..."  required />
      <button type="submit">Search</button>
  </form>

      <div class="location-cart">
        <div class="cart-icons">
          <a href="{% url "wishlist" %}"><i class="fa-regular fa-heart"></i> Wishlist</a>
          <a href=" {% url "cart" %} "><i class="fa fa-cart-shopping"></i> Cart</a>
          {% if request.user.is_authenticated %}
          <a href=" {% url "profile" request.user.id %} "><i class="fa-solid fa-user"></i>
              {{ request.user.username }}
          </a>
            {% else %}
            <a href=" {% url "login" %} "><i class="fa-solid fa-right-to-bracket"></i> Sign-in</a>
            <a href=" {% url "register" %} "><i class="fa-solid fa-user-plus"></i> Sign-up</a>
          
            {% endif %}
        </div>
      </div>
    </div>

    <nav class="main-nav">
  
      <div class="nav-links">
        <a href="#">Deals</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'category_filter' %}">Category</a>
        <a href="#">Shop</a>
        <a href="#">Vendors</a>
        <a href="{% url 'filter_search' %}">Mega menu</a>
        <!-- <a href="#">Blog</a> -->
        <!-- <a href="#">Pages</a> -->
        <a href="{% url 'about' %}#contact">Contact</a>
      </div>
     
      <div class="support">
        <span class="support-phone">1900 - 888 </span> <br>
        <span class="support-text">24/7 Support Center</span>
      </div>
    </nav>
  </div>
</header>

<script>
  // Get the navbar element
  const navbar = document.querySelector('.main-nav');
  
  // Set the scroll threshold (you can adjust this value as needed)
  const stickyOffset = navbar.offsetTop; // or use a custom value like 100px

  // Listen for scroll events
  window.onscroll = function() {
    if (window.pageYOffset > stickyOffset) {
      navbar.classList.add('fixed'); // Add fixed class when scrolled past the navbar
    } else {
      navbar.classList.remove('fixed'); // Remove fixed class when at the top
    }
  };
</script>

